#background1 {
    background-color: #000;
}

.background2 {
    background-color: #fff;
}

#ul1 {
    font-size: 14px;
    padding: 10px;
}

h1 { 
    font-size: 20px;
    font-weight: 900;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-left: 10px;
}

h1 {
    font-size: 5em;
    color: #fff;
}

#ol1 {
    font-size: 14px;
    padding: 10px;
}

.h2-h3 {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 10px;
}

.h2-h3 {
    font-size: 2em;
    color: #fff;
}

.h4 {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 4px;
}

.h4 {
    font-size: 1.2em;
}

.p1 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-bottom: 5px;
    padding-left: 5px;
}

.p1 {
    font-size: 1.1em;
    color: #fff;
}

#p2 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-top: 3px;
    padding-left: 5px;
}

#p2 {
    font: 1.4em;
    color: #000;
}
