#background1 {
    background-color: #000;
}

.background2 {
    background-color: #fff;
}

#ul1 {
    font-size: 14px;
    padding: 10px;
}

h1 { 
    font-size: 20px;
    font-weight: 900;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-left: 10px;
    color: #fff;
    text-shadow: 2px 2px 8px #fff;
}

h1 {
    font-size: 5em;
}

.img {
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0 #fff;
}

#ol1 {
    font-size: 14px;
    padding: 10px;
}

.h2-h3 {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 10px;
    color: #fff;
    text-shadow: 2px 2px 8px #fff;
}

.h2-h3 {
    font-size: 2em;
}

.h4 {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 4px;
}

.iframe1 {
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0 #fff;
}

.p1 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-bottom: 5px;
    padding-left: 5px;
}

.p1 {
    font-size: 1.4em;
    color: #fff;
}

#ul2 {
    font-size: 14px;
    padding-left: 5px;
}

#p2 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-top: 3px;
    padding-left: 5px;
}

#p2 {
    font: 1.3em;
    color: #000;
}
