#background1 {
    background-image: url(backgroundripgang.jpg);
}

.background2 {
    background-color: #9F9FAD;
}

#main {
    margin-top: 50px;
    margin-bottom: 50px;
}

#mainpage {
    border: 8px solid #272727;
    border-radius: 20px;
    box-shadow: 3px 3px 9px 0 #272727;
    width: 1300px;
    height: 2730px;
    background: #272727;
    margin: auto;
}

h1 { 
    font-size: 20px;
    font-weight: 900;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-left: 10px;
    color: #F4442E;
    text-shadow: 6px 6px 15px #F4442E;
}

h1 {
    font-size: 5em;
}

.ul1 {
    font-size: 18px;
    padding: 10px;
    list-style-type: none;
    font-family: 'Sawarabi Gothic', sans-serif;
}

#p1 {
    font-size: 50px;
    font-weight: 500;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-bottom: 5px;
    margin-left: 5px;
}

#p2 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-top: 3px;
    margin-left: 5px;
}

#p2 {
    font: 1.3em;
    color: #000;
}
